config/settings.inc.php
config/xml/*
cache/smarty/cache/*
cache/class_index.php
cache/smarty/compile/*
cache/cachefs/*
cache/purifier/*
modules/*/logs/*
modules/*/tmp/*
modules/*/pdf/*
themes/*/cache/*
download/*
upload/*
log/*
img/*
.htaccess
.htpasswd
sitemap.xml
modules/*/config.xml
.idea
.DS_Store
/cache
/themes/default-bootstrap/.sass-cache
